
<%- include('includes/head.ejs') %>

<script src="javascript/admin.js"></script>

<%- include('includes/header.ejs') %>

<div class="m-5 mt-4" id="ads">
</div>

<div id="loading" class="d-none img-fluid position-fixed top-50 start-50 translate-middle">
    <img src="images/loading.svg" alt="loading...">
</div>

</div>

<div class="modal" id="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger-subtle">
                <h5 class="modal-title"> </h5>
            </div>
            <div class="modal-body"> </div>
        </div>
    </div>
</div>

<%- include('includes/end.ejs') %>
